.Options{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: #8B1E3F 5px solid;
    
}
.Option{
    color: #8B1E3F;
    font-size: larger;
    border-radius: 3px;
    border: #8B1E3F solid 2px;
    padding: 5px;
}
.Active{
    color: white;
    background-color: #8B1E3F;
    font-size: larger;
    border-radius: 3px;
    border: white solid 2px;
    padding: 5px;
}
.Post{
    color: #8B1E3F;
    margin: auto;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    padding: 20px;
    border: solid black 3px;
    display: flex;
    gap:40px;
    align-items: center;
}
.Add{
     background: none;
    border: solid 2px black;
    font-size: 18px;
    background-color: #8B1E3F;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
@media screen and (max-width: 768px){
    .Post{
        flex-direction: column;
        gap: 20px;
    }
}