.singleItem {
    flex: 1 1 300px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.imageWrapper
{
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.imageWrapper img {
    width: 100%;
    height: 100%;   
    object-fit: cover;
}

.itemTexts
{
    margin: 20px;
    color: #8B1E3F;
}

.itemTitle
{
    margin-bottom: 5vh;
}
.itemTitle > span{
    font-size: 35px;
}

.itemRating
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.itemRating span, .itemRating p
{
    font-size: clamp(14px, 1.2vw, 18px);
}

.itemInfos {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 3vh;
    gap: 20px;
    font-weight: 600;
}

.itemBtn
{
    width: 100%;
    background: linear-gradient(135deg, #d03262, #8B1E3F);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 12px;
    font-size: 15px ;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.itemBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 35px #8e183b39;
}

.itemBtn:active {
    transform: translateY(0);
}

