.mainDiv {
    margin: 0;
    padding: 0px;
    background-color: var(--secondary-colour);
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

.container {
    width: 90%;
    background-color: white;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: var(--container-radius);
}

.backRow {
    display: flex;
    justify-content: flex-start;
}

.backBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px 14px;
    background: var(--primary-colour);
    color: white;
    border: none;
    border-radius: var(--inputs-radius);
    font-size: var(--label-font);
    cursor: pointer;
    z-index: 999;
    transition: 0.2s ease;
}

.backBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 35px #8e183b39;
}
.backBtn:active
{
    transform: translateY(0);
}