body{
        background-image: url("../public/HomeBG.png");
}
.HomeMain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.WineBottle{
    transform: scale(10%);
    position: absolute;
    visibility: hidden;
}
.TextContainer
{
    
    margin-left: 40%;
    margin-bottom: 10%;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: larger;
    width: 35vw;
    h2{
        text-decoration: underline;
    }
    h1{
        font-weight: bold;
    }
    h2,h1,h3{
        padding: 10px;
    }
}
