::-webkit-scrollbar{
    display: none;
}


.HomeMain
{
    scrollbar-width: none;
    display: flex;
    width: 100%;
    gap: 0;
    flex-direction: column;
}
.HomeSecond{

    background-color: #23020A;
    width: 100%;
    height: 100vh;
}
.HomeFirst{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image: url("../public/HomeBG.png");
}
.WineBottle{
    transform: scale(10%);
    position: absolute;
    visibility: hidden;
}
.TextContainer
{
    margin-left: 40%;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: larger;
    width: 40vw;
    h2{
        text-decoration: underline;
    }
    h1{
        font-weight: bold;
    }
}
@media screen and (max-width: 768px)
{
 .TextContainer{
    width: 80vw;
    margin-left: 0%;
    font-size: large;
 }
 .Stars{
    font-size: 150%;
 }
}